<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Rango</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
<h1>Rango says...</h1>
<div class="container">
    hey there <kbd>partner</kbd>! <br/>
    <strong>{{boldmessage}}</strong><br/>
</div>
<div class="container">
    <a href="/rango/about/">About</a><br/>
    <img src="{% static "images/Koala.jpg" %}" alt="Picture of Koala"/>
</div>
</body>
</html>